---
import { credits } from '../_data'
import CreditList from './CreditList.astro'
---
<h2 class="mt-10 scroll-m-20 text-2xl font-semibold tracking-tight first:mt-0">
  Inspirations
</h2>
<ul class="my-2 ml-1 list-disc">
  <CreditList credits={credits.Inspiration} />
</ul>

