---
import Link from '@/components/common/Link.astro'
import { siteConfig } from '@/config/site'
import { getPosts } from '@/lib/fetchers'
import { formatDateWithYear } from '@/lib/utils'

const allPosts = (await getPosts()).slice(0, siteConfig.home.displayNumber)


---
<dl class="list-container">
  <dt class="list-title grid grid-cols-2 align-middle md:block px-2">
    <h2 class="font-bold col-span-1 md:col-span-2">
      Recent&nbsp; Post
    </h2>
    <div class="col-span-1 md:col-span-2 text-end md:text-start">
      {
        allPosts.length
        ? (
          <Link
            href="/post/"
            title="View all posts"
            class="common-link link-animate text-xs"
          >
            View all
          </Link>
          <Link
            href="/post.xml"
            title="Feed post rss"
            class="common-link link-animate text-xs pl-2"
          >
            Rss
          </Link>
        )
        : null
      }
    </div>
  </dt>
  <dd class="list-content border-none pt-0 space-y-1">
      {
        allPosts.length
        ? (
          <div class="text-[15px]">
            <div class="group/list-wrapper">
              <ul class="list-none space-y-4">
                {
                  allPosts.map((item) => {
                    return (
                      <li class="group/list-item grid px-2 group-hover/list-wrapper:text-gray-300">
                        <span
                          class="group-hover/list-item:text-gray-900 dark:group-hover/list-item:text-ds-gray-500"
                        >
                          <div class="grid grid-cols-3 md:grid-cols-5 items-center">
                            <Link
                              title={item.data.title}
                              href={`/post/${item.id}/`}
                              class="col-span-2 md:col-span-4 line-clamp-1"
                            >
                              {item.data.title}
                            </Link>
                            <span class="col-span-1 text-end">
                              <time datetime={item.data.pubDate.toDateString()}>
                                { formatDateWithYear(item.data.pubDate) }
                              </time>
                            </span>
                          </div>
                        </span>
                      </li>
                    )
                  })
                }
              </ul>
            </div>
          </div>
        )
        : (
          <div class="text-sm flex items-center text-center size-full">
            That's all for now. Come back later for more.
          </div>
        )
      }
  </dd>
</dl>
