---
import { Icon } from 'astro-icon/components'
import Link from '../common/Link.astro'

type Props = {
  className?: string
}

const { className } = Astro.props;
---

<header
  class:list={[
    'h-12 flex items-center justify-center bg-background z-50 sticky top-0 container',
    className,
  ]}
>
  <div class="relative flex items-center size-full md:max-w-[948px]">
    <div class="items-center gap-6 md:gap-8 lg:gap-10 hidden md:flex">
      <Link href="/" class="items-center space-x-2" title="Home">
        <Icon name="lucide:asterisk" class="size-8" />
      </Link>
    </div>

    <div class="hidden md:flex mx-auto">
      <!-- normal nav menu -->
      <slot name="nav-header" />
    </div>

    <div class="flex md:hidden">
      <slot name="mobile-nav-header" />
    </div>

    <!-- Theme Toggle -->
    <slot name="right-header" />
  </div>
</header>
