---
import { CopyButton } from '@/components/markdown/CopyButton'

const props = Astro.props
---

<div class="code-wrapper not-prose">
  <div class="code-header">
    {
      props.__title__ && (
        <div class="code-filename flex items-center">
          <span class="text-black text-sm">{props.__title__}</span>
        </div>
      )
    }
    <div class="absolute right-2 flex items-center">
      {props.__rawString__ && (
        <CopyButton
          value={props.__rawString__}
          client:load
        />
      )}
    </div>
  </div>
  <pre
    data-lang={props.__lang__}
    class:list={[
      'grid max-h-[500px] overflow-x-auto w-full',
      props.class,
    ]}
    style={{ ...props?.style }}
  >
    <slot />
  </pre>
</div>
