---
import BaseHead from '@/components/seo/BaseHead.astro'
import TailwindIndicator from '@/components/util/tailwind-indicator.astro'
import { cn } from '@/lib/utils'

type Props = {
  title: string
  description?: string
  image?: string
  imageAlt?: string
  bodyClass?: string
}

const {
  title,
  description,
  bodyClass,
  image,
  imageAlt,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      imageAlt={imageAlt}
    />
  </head>
  <body class={cn(
    'min-h-screen bg-background  antialiased',
    bodyClass,
    )}
  >
    <slot />
    <TailwindIndicator />
  </body>
</html>
