---
import Link from '@/components/common/Link.astro'
import Tags from '@/components/common/Tags.astro'

interface Props {
  url: string
  title: string
  desc?: string
  tags?: string[]
}
const { url, title, tags, desc } = Astro.props
---

<div class="flex flex-col space-y-1 last:border-b-0 border-b-[1px]  pb-2">
  <div class="flex justify-between">
    <Link
      href={`${url}?ref=test.com`}
      title={title}
      class="break-words text-black !pl-0 !no-underline"
    >
      <span
        class:list={[
          'font-normal text-lg text-ds-gray-1000 underline underline-offset-4 decoration-[1.5px]',
          'decoration-ds-gray-500 hover:decoration-ds-gray-800 duration-500 ease-in-out',
        ]}
      >
        {title}
      </span>
    </Link>
    <span class="items-center ml-1 hidden md:flex space-x-2">
      <Tags tags={tags || []} />
    </span>
  </div>
  <div class="text-ds-gray-1000 text-sm">
    {desc}
  </div>
</div>
